{% extends "base.html" %}
{% block content %}

<div class="col-md-4 offset-md-4">
    <!--Novo Chute-->
    <form action="{{ url_for('jogo_app.faz_jogada', id_jogo=session['jogo']['id']) }}" method="POST">
        <div class="form-group">
            <label for="chute">Marque seu Chute</label>
            <div class="input-group entrada-chute">
                <input type="number" class="form-control" name="chute" id="chute" min="0" max="9" autofocus required>
                <input type="number" class="form-control" name="chute" min="0" max="9" required>
                <input type="number" class="form-control" name="chute" min="0" max="9" required>
                <input type="number" class="form-control" name="chute" min="0" max="9" required>
            </div>
        </div>
        <div class="mx-auto">
            <button type="submit" class="btn btn-primary">Chutar</button>
        </div>
    </form>
</div>


<div class="col-md-8 offset-md-2">
<hr />
<!--Chutes Registrados-->
    <h5 class="text-center">Chutes Realizados</h5>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2" width="30">#</th>
                    <th rowspan="2" width="300">Chute</th>
                    <th colspan="3" width="90" class="tabela-resultado">Resultado</th>
                </tr>
                <tr>
                    <th class="tabela-resultado">Ótimo</th>
                    <th class="tabela-resultado">Bom</th>
                    <th class="tabela-resultado">Ruim</th>
                </tr>
            </thead>
            <tbody>
                {% for jogada in session.get('jogadas') %}
                <tr>
                    <td>{{ jogada.get('id') }}</td>
                    <td>{{ jogada.get('chute') }}</td>
                    <td>{{ jogada.get('qualidade')[0] }}</td>
                    <td>{{ jogada.get('qualidade')[1] }}</td>
                    <td>{{ jogada.get('qualidade')[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}